body{
	 background-color: #ffce49;
 }

a{
	list-style: none;
	color: white;
	text-decoration: none;
}

a:hover{
	color: #FFFFFF;
}


.res{
   width: 50%;
   height: 100%;
   float: right;
   position: stickey;
   
}
.SelectCategory{ 
  position: fixed;
  top: 50%;
  left: 75%; 
  transform: translate(-50%, -50%);
}

.NoData{ 
  position: fixed;
  top: 50%;
  left: 75%; 
  transform: translate(-50%, -50%);
}

.card{
	border: 1px solid gray;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}