body {
	background-color: #ffce49;
}

.category1 a, .category2 a {
	font-weight: bold;
	color: black;
	text-decoration: none;
}

.category1 a:hover, .category2 a:hover {
	color: #fb3a2f;
}

.container1 {
	position: absolute; 
	margin-top: 110px;
	width: 100%;
}

.container2 {
	width: 500px;
	position: fixed;
	margin-left: 250px;
	letter-spacing: 5px;
	font-size: 17px;
}

.category1 {
	line-height: 30px;
	margin-top: 10px;
	position: absolute;
	width: 230px;
	font-size: 17px;
}

.category2 {
	line-height: 30px;
	margin-top: 10px;
	position: absolute;
	margin-left: 200px;
	width: 230px;
}

.container3 {
	position: absolute;
	width: 650px;
	margin-left: 800px;
}

.container4 {
	position: absolute;
	margin-top: 60px;
	overflow: scroll;
	height: 536px;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.container4::-webkit-scrollbar {
	display: none;
}

.NoData, .SelectCategory {
	position: fixed;
	top: 50%;
	left: 65%;
	transform: translate(-50%, -50%);
}
