body {
	background-color: #ffce49;
}

.container1{
	margin-left: 515px;
	margin-top: 110px;
	position: absolute;
}

.container2{
	height: 450px;
	width: 500px;
	background-color: white;
	border: 1px solid gray;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}	

.container3{
	margin-top:70px;
	margin-left: 20px;
	margin-right: 20px;
}

.form-control{
	margin-bottom: 40px;
}
#cancelBtn{
	position:absolute;
	margin-left: 300px;
}
#findBtn{
	position:absolute;
	margin-left: 400px;
}
#againBtn{
	position: absolute;
	margin-top: 110px;
	margin-left: 900px;
}
.NoData{
	position: fixed;
	top: 55%;
	left: 45%;
	transform: translate(-50%, -50%);
}