body {
	background-color: #ffce49;
}
<<<<<<< HEAD
 .clearfix{
 	position: absolute; 
	margin-top: 110px;
	margin-left: 240px;
	 width: 1050px;
	 height: auto;
	 
 }
 .searchList{
  margin-top:10px;
  position: absolute;
 }
.search{
	width: 1000px;
}
 .col{
  margin-bottom: 30px;
 }
.container1{
	margin-top: 30px;
}
.NoSearch{
=======
.NoSearch {
>>>>>>> branch '구수현' of https://github.com/BOB-GGOURMAT/bobggourmat.git
	position: fixed;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	height: 600px;
}

