body {
	background-color: #ffce49;
}
#iconForm{
	position: absolute;
	margin-left: 250px;
	margin-top: 200px;
	height: 450px;
	width: 1000px;
	background-color: white;
	border: 1px solid gray;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.commentIcon img {
	max-width: 100%;
	width: auto;
}
.commentIcon {
	float: left;
	width: 110px;
	height: 110px;
	margin-left: 170px;
	margin-top: 60px;
	border: 2px solid gray;
	border-radius: 50%;
	overflow: hidden;
	box-sizing: border-box;
}
