body {
	background-color: #ffce49;
}

.container1 {
	color: white;
	height: 530px;
	width: 500px;
	margin-top: 110px;
	margin-left: 515px;
}

.container2 {
	height: 500px;
	width: 500px;
	background-color: white;
	border: 1px solid gray;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.join {
	text-align: left; color : black;
	margin: 30px;
	color: black;
}

.request {
	color: gray; margin : 30px;
	font-size: 14px;
	margin: 30px;
}

.requestHref {
	color: blue;
}

a {
	list-style: none;
	color: gray;
	text-decoration: none;
}

.submit {
	float: right;
}

.loginBtn {
	text-align: center;
}

input::-webkit-input-placeholder {
	text-align: center;
}