body {
	background-color: #ffce49;
}


#mainImg{
  position: fixed;
  top: 50%;
  left: 25%; 
  transform: translate(-50%, -50%);
}


.container1{
	margin-top:110px;
	margin-left: 217px;
	position: absolute;
}

.container2{
	margin-top:110px;
	position: absolute;
	width: 650px;
	margin-left: 800px;
}

.container3{
	position: absolute;
	margin-top: 60px;
	overflow: scroll;
	height: 536px;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.container3::-webkit-scrollbar {
	display: none;
}
.NoData, .SelectLocation {
	position: fixed;
	top: 50%;
	left: 65%;
	transform: translate(-50%, -50%);
}