body {
	background-color: #ffce49;
}

.container1 {
	margin-top: 110px;
	margin-left: 240px;
}

.container2{
	position:absolute;
	width:600px;
	height:500px;
	margin-top: 10px;
	margin-left:240px;
	background-color: white;
	border: 1px solid gray;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.container3{
	position:absolute;
	text-align:center;
	margin-top: 10px;
	margin-left: 890px;
	width: 400px;
	height: 225px;
	background-color: white;
	border: 1px solid gray;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.container4{
	position:absolute;
	text-align:center;
	margin-top: 285px;
	margin-left: 890px;
	width: 400px;
	height: 225px;
	background-color: white;
	border: 1px solid gray;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}	