body {
	background-color: #ffce49;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: black;
}

.container1 {
	height: 400px;
	width: 700px;
	margin-top: 100px;
	margin-left: 300px;
	background-color: white;
	border: 1px solid gray;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.container2 {
	height: 320px;
	width: 700px;
	margin-top: 30px;
	margin-left: 300px;
	background-color: white;
	border: 1px solid gray;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.container3 {
	height: 270px;
	width: 700px;
	margin-top: 30px;
	margin-left: 300px;
	background-color: white;
	border: 1px solid gray;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.container4 {
	height: 270px;
	width: 700px;
	margin-top: 30px;
	margin-left: 300px;
	background-color: white;
	border: 1px solid gray;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.container5 {
	position: absolute;
	height: 320px;
	width: 220px;
	top: 100px;
	right: 280px;
	background-color: white;
	border: 1px solid gray;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.container6 {
	position: absolute;
	height: 60px;
	width: 220px;
	top: 440px;
	right: 280px;
	background-color: white;
	border: 1px solid gray;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.mainphoto {
	position: absolute;
	margin-top: 20px;
	margin-left: 26px;
	height: 230px;
	width: 650px;
}

.mainphoto img {
	border: 1px solid gray;
	height: 175px;
	width: 212px;
}

.info {
	position: absolute;
	margin-top: 210px;
	margin-left: 20px;
	margin-right: 20px;
	width: 650px;
}

.review {
	color: #bd2333;
	width: 650px;
	position: absolute;
	overflow: hidden;
	margin: 20px;
	width: 650px;
}

.menu {
	width: 650px;
	position: absolute;
	overflow: hidden;
	margin: 20px;
}

.comment {
	width: 650px;
	position: absolute;
	overflow: hidden;
	margin: 20px;
}

.myComment {
	border: 1px solid gray;
}

.list li {
	background:
		url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/Content/dash-line.jpg)
		repeat-x center;
}

.menu_name {
	background-color: white;
	float: left;
	padding-right: 10px;
}

.menu_price {
	background-color: white;
	float: right;
	padding-left: 10px;
}

#map{
	border: 1px solid gray;
   margin:14px;	
}


.saveShare {
	position: absolute;
    margin-left:20px;
	top: 50%;
	transform: translateY(-50%);
}
