body {
	background-color: #ffce49;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: black;
}

.container1 {
	height: 400px;
	width: 700px;
	margin-top: 100px;
	margin-left: 300px;
	background-color: white;
	border: 1px solid gray;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.container2 {
	height: 320px;
	width: 700px;
	margin-top: 30px;
	margin-left: 300px;
	background-color: white;
	border: 1px solid gray;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.container3 {
	overflow:auto; 
	width: 700px;
	margin-top: 30px;
	margin-left: 300px;
	background-color: white;
	border: 1px solid gray;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.container4 {
	height: auto;
	width: 700px;
	margin-top: 30px;
	margin-left: 300px;
	margin-bottom: 100px;
	background-color: white;
	border: 1px solid gray;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.container5 {
	position: absolute;
	height: 320px;
	width: 220px;
	top: 100px;
	right: 280px;
	background-color: white;
	border: 1px solid gray;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.container6 {
	position: absolute;
	height: 60px;
	width: 220px;
	top: 440px;
	right: 280px;
	background-color: white;
	border: 1px solid gray;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.mainphoto {
	position: absolute;
	margin-top: 20px;
	margin-left: 26px;
	height: 230px;
	width: 650px;
}

.mainphoto img {
	border: 1px solid gray;
	height: 175px;
	width: 212px;
}

.info {
	position: absolute;
	margin-top: 210px;
	margin-left: 20px;
	margin-right: 20px;
	width: 650px;
}

.review {
	color: #bd2333;
	width: 650px;
	position: absolute;
	overflow: hidden;
	margin: 20px;
	width: 650px;
}

.menu {
	width: 650px;
	position: absolute;
	margin: 20px;
}

.commentIcon1 img, .commentIcon2 img {
	max-width: 100%;
	width: auto;
}
.commentIcon1 {
	float: left;
	width: 110px;
	height: 110px;
	margin-left: 10px;
	margin-top: 30px;
	border: 2px solid gray;
	border-radius: 50%;
	overflow: hidden;
	box-sizing: border-box;
}
.commentIcon2 {
	position:absolute;
	float: left;
	width: 110px;
	height: 110px;
	margin-left:10px;
	margin-top:20px;
	border: 2px solid gray;
	border-radius: 50%;
	overflow: hidden;
	box-sizing: border-box;
}
.commentNickname1{
	font-weight:bold;
	text-align:center;
	width: 110px;
	position:absolute;
	margin-left: 10px;
	margin-top: 150px;
	float: left;
}
.commentNickname2{
	position:absolute;
	font-weight:bold;
	text-align:center;
	width: 110px;
	margin-left: 10px;
	margin-top: 140px;
	float: left;
}
.commentDate{
	font-weight:bold;
	font-size: 17px;
	position:absolute;
	width:170px;
	margin-left: 160px;
}
.commentContent{
	position:absolute;
	border:1px solid gray;
	width: 490px;
	height:120px;
	margin-left: 160px;
	margin-top: 50px;
	padding: 20px;
}
.commentStar{
	font-weight:bold;
	font-size: 17px;
	color:#fb3a2f;
	position:absolute;
	width:100px;
	margin-left: 330px;
}
.commentList{
    margin:20px;
	width: 650px;
	height: auto;
}
.commentView{
	margin-top: 20px;
	width: 650px;
	height: 200px;
	border-bottom: 1px solid gray;
}
#commentlistBtn1{
	position:absolute;
	margin-left: 540px;
}
#commentlistBtn2{
	float: right;
	}
.commentLike{
	font-size:15px; 
	cursor: pointer; 
	float:right;
}
.comment{
	width: 650px;
	margin: 20px;
}

.serviceInfo1{
	text-align:center;
	border: 1px solid gray;
	background-color: white;
	width: 650px;
	height: 150px;
    line-height: 150px;
    font-weight: bold;
}

.serviceInfo2{
	text-align:center;
	background-color: white;
	width: 620px;
	height: 150px;
}


.myComment {
	border: 1px solid gray;
	width: 650px;
}
#commentBtn{
	margin-top: 20px;
	margin-right:20px;
}

.form-control{
	width: 490px;
	margin-left: 130px;
	margin-bottom: 20px;
	height:150px;
	overflow: hidden;
	border: 1px solid gray;
}
.star{
    margin-left: 130px;
    margin-top:0;
	width: 360px;
	height: 72px;
}
.star1{
    margin-left: 130px;
    margin-top:0;
	width: 360px;
	height: 72px;
}
fieldset{
    display: inline-block;
    direction: rtl; 
    border: 0;
    }
input[type=radio]{
    display: none; 
}
label{
    font-size: 3em; 
    color: transparent; 
    text-shadow: 0 0 0 #f0f0f0; 
}
label:hover{
    text-shadow: 0 0 0 #a00; 
}
label:hover ~ label{
    text-shadow: 0 0 0 #a00; 
}
input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 #a00; 
}

.list{
	margin-top:80px;
}
.list li {
	margin-right:32px;
	background:
		url(https://s3-ap-northeast-1.amazonaws.com/dcicons/new/images/web/Content/dash-line.jpg)
		repeat-x center;
   overflow: hidden;
}

.menu_name {
	background-color: white;
	float: left;
	padding-right: 10px;
}

.menu_price {
	background-color: white;
	float: right;
	padding-left: 10px;
}

#map{
	border: 1px solid gray;
   margin:14px;	
}


.saveShare {
	position: absolute;
    margin-left:20px;
	top: 50%;
	transform: translateY(-50%);
}
