body {
	background-color: #ffce49;
}

.container1 {
	margin-top: 110px;
	margin-left: 465px;
}
	
#updateUserForm{
	position:absolute;
	width:600px;
	height:420px;
	margin-top: 10px;
	margin-left:465px;
	background-color: white;
	border: 1px solid gray;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.col-mb-3{
	margin:30px
}

#submitBtn{
	margin-left:475px;
}