<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bobggourmat.dao.LikeDAO">

	<!-- 1. insert_댓글 좋아요하기 -->
	<insert id="like_insert" parameterType="map">
		insert into likes(comment_idx, user_idx) values(#{comment_idx}, #{user_idx})
	</insert>

	<!--2. delete_좋아요 취소 -->
	<delete id="like_delete" parameterType="map">
		delete from likes where comment_idx = #{comment_idx} and user_idx = #{user_idx}
	</delete>

	<!--3. select_ 좋아요 여부 확인 -->
	<select id="like_check" parameterType="map" resultType="int">
		select count(*) from likes where comment_idx = #{comment_idx} and user_idx = #{user_idx}
	</select>
	
	<!-- 4. select_ 댓글 좋아요 개수 -->
	<select id="like_count" parameterType="int" resultType="int">
		select count(*) from likes where comment_idx = #{comment_idx}
	</select>
</mapper>