<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bobggourmat.dao.MenuDAO">
	<!-- 1. select_menu 목록 가져오기-->
	<select id="menuList" parameterType="int" resultType="MenuVO">
	  select * from menu where resinfo_idx=${resinfo_idx}
	</select>
</mapper>